@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif; 
    color: #3C4048;
    background-color: #ECF9FF;
}

header{
    height: 100px;
    border-bottom: 2px solid #3C4048;
    margin-bottom: 30px;
    padding-top: 20px;
    text-align: center;
}

h1{
    text-transform: uppercase;
    margin-bottom: 0
}

section{
    margin: 0 auto;
    display: block;
    max-width: 1024px;
    width: 100%;
}

.card{
    display: inline-block;
    margin: 10px;
    border: 1px solid #B2B2B2;
    border-radius: 6px;
    vertical-align: top;
    max-height: 100%;
}

.card img{
    display: block;
    border-radius: 6px 6px 0 0;
    width: 300px;
    height: 300px;
}

.card details{
    width: 300px;
    line-height: normal;
    display: inline-block;
}

.card details summary{
    font-size: 18px; 
    padding: 10px;
    font-weight: 600;
}

.card details p{
    padding: 0 10px;
    font-size: medium;
}

.card details blockquote{
    padding: 20px;
    color: #3C4048;
    font-style: italic;
    font-size: small;
    text-align: center;
}

footer{
    background-color: #3C4048;
    margin-top: 40px;
    padding: 40px;
    text-align: center;
}

footer p {
    padding: 3px;
}

footer p, a{
    color: #ECF9FF;
}

@media (max-width: 768px){
    header {
        margin-bottom: 20px;
        height: 200px;
        
    }

    h1 {
        font-size: 36px;
    }
    
    .card {
        display: block;
        margin: 20px 10px;
    }

    .card img {
        width: 100%;
        height: 100%;
    }

    .card details {
        width: 100%;
    }

    .card summary{
        font-size: 16px;
    }
}